<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz || Aprendiz</title>

    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static',filename='css/aprendiz/B_home_aprendiz.css') }}">

</head>
<body>
    
    <header id="inicio">

        <section id="content">

            <figure class="logo_sena">

                <img src="../static/images/sena_w.png" alt="">

            </figure>

            <article id="texto">

                <h2>SEPA</h2>

                <p>Seguimiento de Etapa Productiva de Aprendices</p>

            </article>

            <article id="cerrar">

                <i class="lni lni-exit" id="boton_cerrar"></i>
            </article>
        </section>
    </header>
    
    <main id="menu">

        <section id="vinculo">

            <a id="home-perfil" href="/mostrarDatos_aprendiz">
            
                <i class="lni lni-home principal"></i>
            </a>

            <a id="home-visitas" href="/visita_aprendiz">
            
                <i class="lni lni-travel principal"></i>
            </a>

            <a id="home-notificacion" href="/listado">
                
                <i class="lni lni-envelope principal"></i>
            </a>

            <a id="home-empresa" href="/empresa_asignada">
            
                <i class="lni lni-apartment principal"></i>
            </a>

            <a id="home_bitacora" href="/inputRegional">
                
                <i class="lni lni-printer"></i>
            </a>

        </section>
        <section id="datos_peques">

            <article id="linea">

                <table id="tabla_content">
    
                    <tr id="datos_pequesAprend">
    
                        <td>{{NombreAprendiz}} {{ApellidoAprendiz}}</td>
    
                    </tr>
                    <tr id="contenedor_cc">
    
                        <td id="dat_cc">{{tipo_doc}}</td>
    
                        <td id="dat_ccAprend">{{CedulaAprendiz}}</td>
                        
                    </tr>
                </table>

                <div id="content_icon">
                
                    <i class="lni lni-pencil-alt" id="btn-abrir"></i>
                </div>
            </article>    
            <article id="modalsi" class="modal">
        
                <div class="contenedor-modal">
        
                    <h3 id="texto-modal">Actualización de datos personales</h3>
          
                    <form action="/Datos_aprendiz" method="post" id="forma_actualizar">
        
                        <label class="label-inputs">Celular:
    
                            <input
                                type="tel"
                                class="input_datos"
                                placeholder="3215659821"
                                min="10"
                                required
                                max="10"
                                id="actualizacion-celular"
                                name="actualizacion_celular"
                                value="{{TelefonoAprendiz}}">
                        </label>

                        <label class="label-inputs">Correo:

                            <input
                                type="email"
                                class="input_datos"
                                placeholder="ejemplo@gmail.com"
                                required
                                id="actualizacion-correo"
                                name="actualizacion_correo"
                                value="{{CorreoAprendiz}}">

                        </label>        
                        <button class="Actualizar_Datos" id="Actualizar" type="submit">Actualizar</button>

                    </form>   

                    <button id="btn-cerrar" onclick="btn_cerrar()">Cerrar</button>

                </div>
            </article>  
        </section>

        <section id="contenedor_datos02">

            <figure id="imagen_aprend">
    
                <img src="../upload/{{FotoAprendiz}}">  
                
            </figure>

            <article id="subir_fotoAprend">

                <form action="/agregar_foto" method="post" enctype="multipart/form-data">
                    
                    <input id="foto_aprendiz" name="foto_aprendiz" type="file">

                    <button type="submit" id="subir_foto">

                        <i class="lni lni-upload"></i>

                    </button>
                </form>
            </article>

            <article  id="content_datAprend02">

                <table id="tabla_contentAprend02">
    
                    <tr class="content_dat">
    
                        <td class="dat">Telefono:</td>
    
                        <td class="cont">{{TelefonoAprendiz}}</td>
    
                    </tr>
                    <tr class="content_dat">
    
                        <td class="dat">Correo:</td>

                        <td class="cont">{{CorreoAprendiz}}</td>
    
                    </tr>
                    <tr class="content_dat">
    
                        <td class="dat">Ficha:</td>
    
                        <td class="cont">{{Ficha}}</td>
    
                    </tr>
                    <tr class="content_dat">
    
                        <td class="dat">Municipio:</td>
    
                        <td class="cont">{{Municipio}}</td>
    
                    </tr>
                    <tr class="content_dat">

                        <td class="dat">Direccion:</td>

                        <td class="cont">{{dir}}</td>

                    </tr>
                    <tr class="content_dat">
    
                        <td class="dat">Carrera:</td>
    
                        <td class="cont">{{Carrera}}</td>
    
                    </tr>
                    <tr class="content_dat">

                        <td class="dat">Curso:</td>

                        <td class="cont">{{curso}}</td>

                    </tr>
                    <tr class="content_dat">

                        <td class="dat">Nivel:</td>

                        <td class="cont">{{nivel}}</td>

                    </tr>
                </table>
            </article>
        </section>
        <section id="datos_instructor">

            <figure id="imagen_instructor">

                <img src="../static/images/iconfinder_avatar_male_man_person_user_young_403019.svg">
            </figure>
            
            <article id="content_instructor">

                <div id="marco_instructor">

                    <table id="tabla_instructor">

                        <tr class="contentDat_instructor">

                            <td id="instructor_inicio">Instructor de Seguimiento</td>

                            <td id="basico">{{NombreInstructor}} {{ApellidosInstructor}}</td>

                        </tr>
                        <tr class="contentDat_instructor">
                    
                            <td id="instructor_fin">Correo:</td>

                            <td id="correo_instructor">
                                <a 
                                    id="basicos"
                                    href="https://mail.google.com/mail/u/0/#inbox?compose=new">
                            
                                    {{CorreoInstructor}}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </article>
        </section>
        
        <section id="content_footer">
            <footer>

                <p>
                    Para obtener información adicional, te invitamos a ponerte en contacto 
                    con la Coordinación de Seguimiento a través del correo electrónico.
                    
                    <a
                        id="correo_cordinacion"
                        href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJfmqrttsrVgrKKPlKGXJZzpwchfbktjGzshhHznJrLZPpNPVDRJjzbnKmVDThdgpDMZBrL">
                        Coordinación De Seguimiento
                    </a>
                </p>
            </footer>
        </section>
    </main> 

    <script src="{{ url_for('static', filename='javascript/home_aprendiz.js') }}"></script>
    
</body>
</html>