* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

figure {
  margin: 0;
  padding: 0;
}

  figure img{
      margin: 0;
      width: 100%;
  }

body, html{
  margin: 0;
  padding: 0;
  font-family: 'calibri';
  background: rgb(250, 250, 250);
}

a{
  margin: 15px 10px;
  color: rgb(250, 250, 250);
  text-decoration: none;
  border-radius: 10px;
  padding: 8px;
  font-size: 24px;
  background: #32A900;
}

header#inicio{
  left: 0;
  margin: 0;
  padding: 12px;
  top: 0;
  width: 100%;
  height: 16vh;
  background: #32A900;
}

#texto{
  color: rgb(250, 250, 250);
  border-left: solid 3px rgb(250, 250, 250);
  margin-left: 20px;
  padding-left: 10px; 
}

#texto h2, #texto p{
  margin: 0px;
}

#texto h2{
  font-size: 21px;
  text-align: start;
}

#texto p{
  font-size: 14px;
  color: rgb(250, 250, 250);
}

#inicio #content{
  margin: 20px;
  display: flex;
  align-items: center;
}

#inicio .logo_sena{
    width: 100px;
}

#vinculo{
  display: flex;
  padding: 0;
  width: 100vw;
  justify-content: center;
}

#cerrar{ 
  margin: 0;
  padding: 0;
  position: relative;
  transform: translate(40%, -80%);
}

#boton_cerrar{
  padding: 0px;
  font-size: 32px;
  margin: 0;
  border: none;
  background: none;
}

h3#primer_titulo{
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 22px;
}

#visitas_semaforo{
  display: flex;
  margin: 8px;
  flex-direction: column;
  background: #E2E2E2;
  border-radius: 12px;
  border: solid 3px #666;
}

#contenido_visita{
  margin: 4px 0px;
  font-size: 16px;
  height: 12vh;
}

article#adicional{
  text-align: center;
  margin: 0;
  padding: 0;
}

#observacion_01, #fecha_01{
  font-size: 22px;
}

#fecha_02, #observacion_02{
  font-size: 16px;
}

#observacion_02{
  text-align: justify;
  margin: 0px 8px;
}

/*---------- PIE DE PAGINA-CONTACTO EXTRA  ----------*/

#content_footer{
  text-align: justify;
  margin: 30px 14px 0 14px;
  font-size: 16px;
}

#correo_cordinacion{
  text-align: center;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 16px;
  color: #000;
  border-radius: none;
  border-bottom: 2px solid #00324D;
}

@media screen and (min-width: 360px) {

  #visitas_semaforo{
    margin: 10px 18px;
  }
  
  #contenido_visita{
    margin: 4px;
  }

  #fecha_02, #observacion_02{
    font-size: 16px;
    margin: 4px 10px 0 18px;
  }

  #content_footer{
    margin: 40px 18px 0 18px;
  }
}

@media screen and (min-width: 380px) and (max-width: 420px){
  #visitas_semaforo{
    margin: 10px 22px;
  }

  #contenido_visita{
    margin: 4px;
    font-size: 18px;
  }

  #fecha_02, #observacion_02{
    font-size: 18px;
  }

  #content_footer, #correo_cordinacion{
    font-size: 18px;
    margin: 35px 16px 0 16px;
  }
}