* {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
  }
  
    figure img{
        margin: 0;
        width: 100%;
    }
  
  body, html{
    margin: 0;
    padding: 0;
    font-family: 'calibri';
    background: rgb(250, 250, 250);
  }
  
a{
    margin: 15px 10px;
    color: rgb(250, 250, 250);
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 24px;
    background: #32A900;
}

h2{
    text-align: center;
    font-size: 38px;
    margin: 0;
    padding: 0;
}

h2#basico_text{
  font-size: 26px;
}

header#inicio{
    left: 0;
    margin: 0;
    padding: 10px 15px;
    top: 0;
    width: 100%;
    height: 16vh;
    background: #32A900;
  }
  
  #texto{
    color: rgb(250, 250, 250);
    border-left: solid 2px rgb(250, 250, 250);
    margin-left: 18px;
    padding-left: 16px;
    
  }
  
    #texto h2, #texto p{
      margin: 0px;
    }
  
    #texto h2{
      font-size: 21px;
      text-align: start;
    }
  
    #texto p{
      font-size: 14px;
      color: rgb(250, 250, 250);
    }
  
    #inicio #content{
      margin: 20px;
      display: flex;
      align-items: center;
    }
    
    #inicio .logo_sena{
        width: 100px;
    }
  
  #vinculo{
    display: flex;
    padding: 0;
    width: 100vw;
    justify-content: center;
  }
  
  #cerrar{ 
    margin: 0;
    padding: 0;
    position: relative;
    transform: translate(40%, -80%);
  }
  
  #boton_cerrar{
    padding: 0px;
    font-size: 28px;
    margin: 0;
  }

#vinculo{
    display: flex;
    padding: 0;
    width: 100vw;
    justify-content: center;
}

/*---------- INICIO MODAL -----------*/

  #content_icon{
    position: absolute;
    padding: 0px;
    margin: 0px;
    background: #FFF;
    transform: translate(265px, -60px);
    border-radius: 12px;
  }
  
  #btn-abrir{
    margin: 2px;
    padding: 0px;
    font-size: 32px;
    color: #333;
  }
  
  #texto-modal{
    padding: 0px;
    text-align: center;
    font-size: 22px;
    color: rgb(250, 250, 250);
    margin: 25px;
  }
  
  #Actualizar{
    background: #32A900;
    border: none;
    padding: 0px;
    color: rgb(250, 250, 250);
    font-size: 18px;
    height: 5vh;
    border-radius: 16px;
    text-align: center;
    width: 30vw;
    transform: translate(155px, 1px);
    margin: 10px 0px 0px 25px;
  }

  #btn-cerrar{
    position: absolute;
    background: #F3F3F3;
    border: none;
    padding: 0px;
    border-radius: 12px;
    height: 4vh;
    width: 20vw;
    font-size: 18px;
    transform: translate(-10px, -35px);
    margin: 0px 22px 0px 30px;
  }
  
  .input_datos{
    background: #DCDCDC;
    border: none;
    border-radius: 8px;
    color: #333;
    padding: 0;
    height: 4vh;
    width: 64vw;
    font-size: 16px;
    margin: 10px 50px;
  }
  
  section.modal{
    flex-direction: column;
    display: flex;
    background: #00324D;
    border-radius: 16px;
    margin: 20px 10px;
    min-width: 80vw;
    height: 75vh;
  }
  
  .label-inputs{
    padding: 0;
    font-size: 18px;
    color: rgb(250, 250, 250);
    margin-left: 50px;
  }

/*----------    ----------*/
#contenedor_datos_empresa{
  display: flex;
  margin: 20px;
  padding: 0;
  width: 90vw;
  height: 62vh;
  background: #DCDCDC;
  border-radius: 18px;
}

#content_empresa{
  margin: 0;
  padding: 0;
  height: 60vh;
}

.datos_empresa{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0;
  padding: 0; 
}
    
  .inicio_datos{
    text-align: center;
    margin: 2px 0 4px 0px;
    padding: 2px;
    font-size: 20px;
    min-width: 100%;
  }
    
  .basico_empresa{
    text-align: center;
    padding: 2px;
    margin: 4px 0 4px 0px;
    font-size: 18px;
    min-width: 90vw;
  }

/*---------- PIE DE PAGINA-CONTACTO EXTRA  ----------*/

#content_footer{
  text-align: justify;
  margin: 0px 14px;
  font-size: 16px;
}

#correo_cordinacion{
  text-align: center;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 16px;
  color: #000;
  border-radius: none;
  border-bottom: 2px solid #00324D;
}

@media screen and (min-width: 360px){

  #content_icon{
    transform: translate(300px, -60px);
    border-radius: 12px;
  }

  #Actualizar{
    transform: translate(180px, 1px);
    margin: 10px 0px 0px 25px;
  }

  #btn-cerrar{
    transform: translate(-5px, -35px);
    margin: 0px 22px 0px 30px;
  }

  section.modal{
    margin: 20px 18px;
    min-width: 80vw;
    height: 72vh;
  }
}

@media screen and (min-width: 380px) and (max-width: 420px){

  #contenedor_datos_empresa{
    margin: 20px; 
    width: 90vw;
    height: 60vh;
  }

  #content_icon{
    transform: translate(320px, -60px);
    border-radius: 12px;
  }
      
  #content_footer{
    text-align: justify;
    margin: 0px 20px;
    font-size: 18px;
  }
  
  #correo_cordinacion{
    font-size: 18px;
  }
}